.pokemon-card {
  box-shadow: 2px 2px 2px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  width: 12%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#pokemonContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}
